@use 'base';
@use 'library/variables' as *;
@use 'library/ms' as *;
@use 'library/colors' as color;
@use 'library/mixins' as *;

*::selection {
	background: color.$pale;
	color: color.$white;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

html {
	font-size: 20px;
}
@media only screen and (max-width: 550px) {
	html {
		font-size: 18px;
	}
}
@media only screen and (max-width: $smallest-mq) {
	html {
		font-size: 16px;
	}
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	position: relative;
	height: 100vh;
	overflow: hidden;
	background: color.$bg;
	color: color.$dark;
	display: flex;
	justify-content: center;
	align-items: center;
}

#app {
	position: relative;
	max-width: gs(20);
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: gs(1);
}

.svg-filter {
	position: absolute;
	visibility: hidden;
	pointer-events: none;
}

h6 {
	@include h6;
}
h5 {
	@include h5;
}
h3 {
	@include subheading;
}
h2 {
	@include bold-heading;
}
